.event {
  // position: absolute;
  // width: 80%;
  // background-color: cornflowerblue;
  // z-index: 1;
  // border-radius: 8px;
  // padding: 8px;
  // color: #fff;
  // overflow-y: auto;

  position: absolute;
  z-index: 1;
  width: 80%;
  background-color: #6495ed;
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  overflow: auto;
  cursor: pointer;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;

  position: absolute;
  right: 0;
  display: block;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background-color: #810909;
  color: #fff;
  margin: 0 0 0 auto;
  cursor: pointer;
  z-index: 9;
}
